npm install vite --save-dev


npm create vite@latest ./ -- --template react
√ Package name: ... dev_portfolio

npm install -D tailwindcss  
npx tailwindcss init


npm install --legacy-peer-deps @react-three/fiber @react-three/drei maath react-tilt react-vertical-timeline-component @emailjs/browser framer-motion react-router-dom


//tailwind not working in vite
npm install -D tailwindcss postcss autoprefixer
npm install --legacy-peer-deps -D tailwindcss postcss autoprefixer                                                                                     
npx tailwindcss init -p


npm install --legacy-peer-deps three
